<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body>

<div th:replace="/fragments/header :: header"></div>

<div class="container">
    <div class="post">
        <h2 th:text="${post.title}">Title</h2>
        <h5 th:text="'Published on ' + ${#dates.format(post.creationDate, 'yyyy MMMM dd')}"></h5>
        <div class="img">Image</div>
        <p th:text="${post.body}">body text</p>
    </div>
    <div class="comments">
        <h2>Comments</h2>
        <div class="comment" th:each="comment : ${post.comments}">
            <h5 th:text="'Commented on ' + ${#dates.format(post.creationDate, 'yyyy-MM-dd')}"></h5>
            <p th:text="${comment.body}">Body</p>
        </div>
    </div>
</div>
<form th:action="@{'/comment/{id}'(id=${post.id})}" method="get">
    <button class="green-btn" type="submit">Comment</button>
</form>

<footer th:replace="/fragments/footer :: footer"></footer>

</body>
</html>